{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" style="width:50%; margin:auto;" class="py-5 container" novalidate>
    <h1>Password change Page</h1>
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <p class="bg-danger text-white p-3">{{er}}</p>
        {% endfor %}
    {% endif %}
    <div class="mt-3">
        {% for fm in form %}
            <p>
                {{fm.label_tag}}
                {{fm}}
            </p>
            <span class="text-danger">{{fm.errors | striptags}}</span>
            
        {% endfor %}
    </div>
    <br>
    <button type="submit" class="btn btn-warning">Change Password</button>
</form>
{% endblock %}
