.product-img img{
    width: 150px;
    height: 150px;
}
.product-details-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 50px;
    width: 75%;
    margin: auto;
}
.product-detail-btn{
    border: none;
    padding:5px 10px;
    background-color:gray;
    color: white;
    border-radius: 5px;
}
    